html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

#preview {
    display: flex;
    flex-direction: row;
}

#preview > div {
    padding: 40px;
}

#codesnippet {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 10px 0;
}

@media only screen and (max-width: 600px) {
    #wrapper {
        display: block;
    }
    #preview {
        flex-direction: column;
    }
}